<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body>
    <header>
      <h1 class="underline""><%= title %></h1>
      <p>Welcome <%= currentUser ? currentUser.username : '' %></p>
    </header>
  </body>
</html>
